################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/.vs
/AData.Business/bin
/AData.Business/obj
/AData.Business.Interface/bin
/AData.Business.Interface/obj
/AData.Common/bin
/AData.Common/obj
/AData.Console.MSSQL/bin
/AData.Console.MSSQL/obj
/AData.MongoDB/bin
/AData.MongoDB/obj
/AData.MySQL/bin
/AData.MySQL/obj
/AData.Persistence/bin
/AData.Persistence/obj
/AData.Persistence.Interface/bin
/AData.Persistence.Interface/obj
/AData.SQLServer/bin
/AData.SQLServer/obj
/AData.Generator/bin
/AData.Generator/obj
/AData.GeneratorTest/bin
/AData.GeneratorTest/obj
/packages
*.user
